@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


nav{
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    position: relative;
}

nav .navbar{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    height: 100%;
    max-width: 1400px;
}

.logoname img{
    width: 32px;
    border-radius: 3px;
}

nav .navbar .logoname{
    margin: 10px;
    display: flex;
    width: 190px;
    align-items: center;
    justify-content: space-between;
}

nav .navbar .logoname h3{
    font-size: 20px;
    font-weight: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav .navbar .logoname a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

nav .navbar .menuitems{
    display: flex;
    align-items: center;

}
nav .navbar .menuitems li{
    list-style: none;
    margin: 0 15px;
}

.menuitems li a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    padding: 2px 3px;
    border-radius: 5px;
}

.menuitems li a:hover{
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px;
    border: #6a15d8;
    background: none;

}
.home{
    top: 50%;
    left: 50%;
    text-align: center;

}

.home{
    background: linear-gradient(#000000cc,rgba(0,0,0,0.8)),url(https://i.postimg.cc/wMdd1YGh/bankvector.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.home .welcome{
    font-size: 30px;
    left: 0;
    line-height: 100px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: #ffffff;
}

.home .welcome span{
    color: rgb(111, 0, 255);
}

.home .btn .button1{
    display: flex;
    position: absolute;
    top: 50%;
    left: 40%;
    border: none;
    background: linear-gradient(90deg,#3812e0,#800ae0);
    padding: 10px;
    border-radius: 5px;
    box-shadow: #800ae0;
}
.home .btn .button1 a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.home .btn .button2{
    position: absolute;
    display: block;
    top: 50%;
    right: 40%;
    border: none;
    background: linear-gradient(90deg,#3812e0,#800ae0);
    padding: 10px;
    border-radius: 5px;
    box-shadow: #800ae0;

}
.home .btn .button2 a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.home p{
    font-weight: 400;
    padding: 40px 80px;
    text-align: justify;
    left: 0;
    margin-top: 10px;
    position: absolute;
    top: 50%;
    color: #dddada;
    width: 100%;
    font-size: medium;
}
/*veiwcustomer*/
.customers{
    background: linear-gradient(#000000cc,rgba(0,0,0,0.8)),url(https://i.postimg.cc/NGp9X4Jn/bankvector1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.wrap-table100 {
    width: 1170px;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: #ffffff00;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative
}

table * {
    position: relative
}

table td,table th {
    padding-left: 8px
}

table thead tr {
    height: 60px;
    background: linear-gradient(135deg,#292cf0cc,rgba(245, 6, 253, 0.726));
}

table tbody tr {
    height: 50px
}

table tbody tr:last-child {
    border: 0
}

table td,table th {
    text-align: left
}

table td.l,table th.l {
    text-align: right
}

table td.c,table th.c {
    text-align: center
}

table td.r,table th.r {
    text-align: center
}

.table100-head th {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset
}

tbody tr:nth-child(even) {
    background-color: #f5f5f500
}

tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: rgb(155, 148, 148);
    line-height: 1.2;
    font-weight: unset
}

tbody tr:hover {
    color: #555;
    background-color: #f5f5f5;
    cursor: pointer
}

.column1 {
    width: 260px;
    padding-left: 40px
}

.column2 {
    width: 160px
}

.column3 {
    width: 245px
}

.column1 img{
    width: 20px;
}

/*notification*/

.negativemsg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  
}

.positivemsg {
    padding: 10px;
    width: 800px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    color: #2e9904;
    border-radius: 3px 3px 3px 3px;
    height: 40px;
  }
  

.positivemsg .header1{
    width: 800px;
    margin: 0 auto;
    background-color: #a2f70f;
    color: #2e9904;
    height: 30px;
    padding: 7px;
  }

.positivemsg  #green1{
    float: left;
    margin-left: 100px;
}

.positivemsg #green2{
    float: right;
    cursor: pointer;
}

.negativemsg {
    width: 800px;
    margin: 0 auto;
    color: #9f2000;
    
  }

.negativemsg .header1{
    width: 800px;
    margin: 0 auto;
    background-color: #f5caa3;
    color: #9f2000;
    height: 30px;
    padding: 7px;
  }

.negativemsg  #red1{
    float: left;
    margin-left: 100px;
}

.negativemsg #red2{
    float: right;
    cursor: pointer;
}

.uibuttons{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 15px 15px;
    justify-content : center;
}

.uibuttons .sendbutton {
  align-items: center;
  background-image: linear-gradient(90deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.sendbutton:active,
.sendbutton:hover {
  outline: 0;
}

.sendbutton span {
  background-color: rgb(5, 6, 45);
  padding: 8px 2px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.sendbutton:hover span {
  background: none;
}

.uibuttons .checkbutton {
    margin-left: 5%;
    align-items: center;
    background-image: linear-gradient(90deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .checkbutton:active,
  .checkbutton:hover {
    outline: 0;
  }
  
  .checkbutton span {
    background-color: rgb(5, 6, 45);
    padding: 8px 2px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .checkbutton:hover span {
    background: none;
  }
  
  @media (min-width: 768px) {
    .checkbutton {
      font-size: 24px;
      min-width: 196px;
    }
  }
@media (min-width: 768px) {
  .sendbutton {
    font-size: 24px;
    min-width: 196px;
  }
}

@media screen and (max-width: 992px) {
    table {
        display:block
    }

    table>*,table tr,table td,table th {
        display: block
    }

    table thead {
        display: none
    }

    table tbody tr {
        height: auto;
        padding: 37px 0;
    }

    table tbody tr td {
        padding-left: 40%!important;
        margin-bottom: 24px
    }

    table tbody tr td:last-child {
        margin-bottom: 0
    }

    table tbody tr td:before {
        font-family: OpenSans-Regular;
        font-size: 14px;
        color: #807c7c;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0
    }

    table tbody tr td:nth-child(1):before {
        content: "Name"
    }

    table tbody tr td:nth-child(2):before {
        content: "Email"
    }

    table tbody tr td:nth-child(3):before {
        content: "Balance"
    }


    .column1,.column2,.column3 {
        width: 100%
    }

    tbody tr {
        font-size: 14px
    }
}


/*visiblity*/

.customers #checkBalance, .customers #transfer{
    display: none;
}

.customers .positivemsg ,.customers .negativemsg{
    display: none;
}

.customers .container{
    text-align: center !important;
}
/*transfer*/

.transfer ,.checkBalance{
    position: relative;
    background: linear-gradient(135deg,#292cf0cc,rgba(245, 6, 253, 0.726));
    -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 0 auto;
    padding: 1em 1em;
    margin-bottom: 8px;
    max-width: 1170px;
    border-radius: 10px;
    border: 1px solid rgba(34,36,38,.15);
}

.form{
    position: relative;
    height: 6em;
    
}

.form .field {
    clear: both;
    margin: 0 auto;
    width: 500px;
}


.form .field1 {
    clear: both;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    height: 3em;
}

.form .field1 label{
    float: left;
    width: 120px;
    text-align: left;
    font-weight: 500;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form .field1 input{
    float: right;
    border: none;
    padding: 5px;
    border-radius: 5px;

}
/* CSS buttons */
.transfer #buttons{
    margin:0 30px auto;
    display: inline-block;
    margin-top: 30px;
}

.transfer .greenbutton {
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  box-sizing: border-box;
  color: #2ce614;
  cursor: pointer;
  display: inline-block;

  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.3;
  padding: 7px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: 2px solid #2ce614;
}

.greenbutton:not(:disabled):hover {
  transform: scale(1.05);
  background-color: #2ce614;
  color: #fff;
}

.greenbutton:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.greenbutton:focus {
  outline: 0 solid #2ce614;
}

.greenbutton:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.greenbutton:focus:not(:focus-visible) {
  outline:#2ce614;
}

.greenbutton:focus:not(:focus-visible):before {
  border-width: 0;
}

.greenbutton:not(:disabled):active {
  transform: translateY(.125rem);
}

.transfer .redbutton {
    background: #fff;
    backface-visibility: hidden;
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
    box-sizing: border-box;
    color: #dd3f18;
    cursor: pointer;
    display: inline-block;
  
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: 7px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border: 2px solid #dd3f18;
  }
  
  .redbutton:not(:disabled):hover {
    transform: scale(1.05);
    background-color: #dd3f18;
    color: white;
  }
  
  .redbutton:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
  }
  
  .redbutton:focus {
    outline: 0 solid #dd3f18;
  }
  
  .redbutton:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
  }
  
  .redbutton:focus:not(:focus-visible) {
    outline:#dd3f18;
  }
  
  .redbutton:focus:not(:focus-visible):before {
    border-width: 0;
  }
  
  .redbutton:not(:disabled):active {
    transform: translateY(.125rem);
  }


/*check Balance*/

.checkBalance h1 {
    color: #fff;
}
.checkBalance h1 img{
    width: 80px;
}

.checkBalance h3{
    color: #ffffffe7;
    font-weight: 400;
}

.checkBalance h3 span{
    font-weight: 500;
    color: #fff;
}

/*footer*/
/* Apply a background color, text color, and padding */
.footer {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    
    /* Flexbox styles */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    /* Position at the bottom */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  /* Make the text in the first paragraph bold */
  .footer p:first-child {
    font-weight: bold;
  }
  
  /* Center-align the text in the footer */

main{
    background: linear-gradient(90deg,#292cf0f6,rgba(245, 6, 253, 0.726));
}
.features {
    text-align: center;
    padding: 50px 0;
}

.feature {
    margin-bottom: 50px;
}

.feature img {
    max-width: 100px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
    color: #ffffff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

.social-icons img {
    width: 20px;
    margin: 5px;
    color: #fff;
}

.social-icons a{
    text-decoration: none;
    color: #888282;
}

.checkBalance{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.checkBalance .checkBalanceheader{
    margin: 20px auto;
    width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
}

.checkBalance .checkBalanceheader img{
    justify-content: space-around;
    display: flex;
    width: 100px;
    height: 100px;
    align-items: flex-start;
    margin-bottom: -40px;
}

.customers .transfer ,.customers .checkBalance {
    display: none;
}

/*transfer form*/

.transfer{
    text-align: center;
    width: 100%;
    margin: 15px auto;
    height: 200px;
}

.transfer .form{
    width: 1170px;
    margin: 0 auto;
    padding: 10px;
}

.transfer .field{
    width: 60%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 15px;
    justify-content: center;
}

.transfer .field .twofields{
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    width: 400px;
    padding: 5px;
}

.transfer .field .twofields .fields{
    display: inline-flex;
    justify-content: space-between;
    margin: 5px;
}
